<div class="text-center container">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Update Role Users</h1>
        <form id='formUpdateRole'>
            <div class="form-floating">
            <label class="form-label" for="role">Role:</label>
            <select class="form-select" type="text" id="role" name="role">
                <option value=""></option>
                <option value="user">User</option>
                <option value="admin">Admin</option>
                <option value="premium">Premium</option>
            </select><br><br>
            </div>
            <button class="w-100 btnEnviar btn btn-lg btn-primary" type="submit">Enviar</button>
        </form>
    </main>
</div>

<script src="/js/updateRole.user.js"></script>