<div class="column containerProducts">
    <h1>Lista de Productos</h1>
    <table id="updateProducts" class='table table-striped'>
        <thead>
            <tr>
                <th>IdProd</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Code</th>
                <th>Stock</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody id="tbodyTableProducts">
            {{!-- se llena con javascript --}}
        </tbody>
    </table>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
