<div class="text-center container">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Register Users</h1>
        <form id='formRegister' {{!-- action="/api/sessions" method="post" --}}>
            <div class="form-floating">
            <input type="text" class="form-control" id="inputFirstName" name='firstName' placeholder="first_name">
            <label for="firstName">First Name</label>
            </div>
            <div class="form-floating">
            <input type="text" class="form-control" id="inputLastName" name='lastName' placeholder="last_name">
            <label for="lastName">Last Name</label>
            </div>
            <div class="form-floating">
            <input type="text" class="form-control" id="inputEmail" name='email' placeholder="email">
            <label for="email">Email</label>
            </div>
            <div class="form-floating">
            <input type="number" class="form-control" id="inputAge" name='age' placeholder="age">
            <label for="age">Age</label>
            </div>
            <div class="form-floating">
            <input type="password" class="form-control" id="inputPassword" name='password' placeholder="Password">
            <label for="password">Password</label>
            </div>
            <div class="form-floating">
            <input type="date" class="form-control" id="inputBirthDate" name='birth_date' placeholder="birth_date">
            <label for="birth_date">Birth date</label>
            </div>            
            <div class="form-floating">
            <label class="form-label" for="role">Role:</label>
            <select class="form-select" type="text" id="role" name="role">
                <option value=""></option>
                <option value="user">User</option>
                <option value="admin">Admin</option>
                <option value="premium">Premium</option>
            </select><br><br>
            </div>

            
            <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
            {{!-- <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p> --}}
        </form>
    </main>
</div>

<script src="/js/register.user.js"></script>
