<div class="text-center container">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
        <form  id='formResetPass' {{!-- action="/api/sessions/login" method="post" --}}>            

            <div class="form-floating">
            <input type="text" class="form-control" id="inputEmail" name='email' placeholder="email">
            <label for="email">Email</label>
            </div>
            
            <div class="form-floating">
            <input type="password" class="form-control" id="inputPassword" name='newpassword' placeholder="newpassword">
            <label for="newpassword">New Password</label>
            </div>

            {{!-- <div class="checkbox mb-3">
            <label>
                <input type="checkbox" id='btnadmin' name='btnadmin'> Eres Administrador?
            </label>
            </div> --}}

            <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
            {{!-- <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
            <p>¿Has olvidado tu contraseña? <a href="/resetPassword">Restaurar Contraseña</a></p> --}}
        </form>
    </main>
</div>

<script src="/js/resetPass.user.js"></script>