<div class="text-center container">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
        <form  id='formResetPass'>

            <div class="form-floating">
            <input type="password" class="form-control" id="inputNewPassword" name='newpassword' placeholder="newpassword">
            <label for="newpassword">New Password</label>
            </div>

            <div class="form-floating">
            <input type="password" class="form-control" id="inputConfirmNewPassword" name='confirmNewPassword' placeholder="confirmNewPassword">
            <label for="ConfirmNewPassword">Confirm New Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>            
        </form>
    </main>
</div>

<script src="/js/resetPass.user.js"></script>