<div class="text-center container">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Introduce tu Email de usuario</h1>
        <form  id='formRestartPass'>
            <div class="form-floating">
            <input type="text" class="form-control" id="inputEmail" name='email' placeholder="email">
            <label for="email">Email</label>
            </div>
            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
            <hr>
            <p>Se mandara un correo con las instrucciones para restablecer tu contraseña</p>
        </form>
    </main>
</div>

<script src="/js/restartPass.user.js"></script>