.formAddProducts{
    width: 80% !important;
    height: 300px !important;
}

.formProduct {
    height: 35px !important;
}

.formThumbnail{
    height: 50px !important;
    padding: 15px !important;
}

.divForm{
    height: 70px !important;
}
tr{
    text-align: center;
}

table tbody tr td{
    border: 1px solid rgb(163, 157, 157);
}

table thead tr th{
    background: rgb(236, 193, 112) !important;
}

.containerProducts{
    padding: 15px !important;
    width: 100%;    
    margin-right: auto;
    margin-left: auto;
}
.containerForm {
    display: flex !important;
    justify-content: center !important;
    padding: 15px !important;
    width: 100%;    
    margin-right: auto;
    margin-left: auto;
}

.container {
    width: 90% !important;
    margin-left: 40px !important;
    margin-right: 40px !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}
.table {
    border: 1px solid rgb(163, 157, 157);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
  

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.tdDescription{
    width: 550px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}
  
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
  
  